argon2-cffi 
urllib3
keyboard==0.13.5
async-generator 
attrs 
backcall==0.2.0
cloudpickle
bleach 
certifi==2021.5.30
cffi
click==8.0.1
colorama==0.4.4
cycler==0.10.0
decorator==5.0.5
defusedxml 
entrypoints==0.3
Flask==2.0.1
idna==3.2
imbalanced-learn==0.8.0
imblearn==0.0
importlib-metadata
ipykernel==5.5.3
ipython==7.22.0
ipython-genutils==0.2.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2 
joblib==1.0.1
jsonschema
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments 
kiwisolver==1.3.1
MarkupSafe
matplotlib==3.4.2
mistune==0.8.4
nbclient 
nbconvert 
nbformat
nest-asyncio
notebook
numpy==1.21.1
packaging 
pandas==1.3.0
pandocfilters 
parso==0.8.2
pickleshare==0.7.5
Pillow==8.3.1
prometheus-client 
prompt-toolkit==3.0.18
pycparser
Pygments==2.8.1
pyparsing==2.4.7
pyrsistent 
python-dateutil
pytz
pywebio==1.3.3
pywinpty==0.5.7
pyzmq==22.0.3
scikit-learn==0.24.2
scipy==1.7.0
seaborn==0.11.1
Send2Trash 
six==1.14.0
terminado==0.9.4
testpath 
threadpoolctl==2.2.0
tornado==6.1
traitlets==5.0.5
ua-parser==0.10.0
user-agents==2.2.0
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.0.1
wincertstore==0.2
xgboost==1.4.2
zipp 
